@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  /*  height: 100vh; */
  padding: 1.5rem;
  font-family: "Lato", sans-serif;
  background-color: darkblue;
}

#root {
  height: 100vh;
}

.app {
  display: flex;

  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.header__icon {
  width: 2.5rem;
  height: auto;
  margin-right: 1rem;
}

.header p {
  font-size: 1.25rem;
  color: white;
}

.search {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}
.search__location-form {
  flex-grow: 1;
  max-width: 19rem;
  display: flex;
  flex-wrap: wrap;
}

.search__location-form__input {
  height: 1.75rem;
  font-size: 1rem;
  font-family: inherit;
  border: none;
  border-radius: 0.25rem;
  flex-grow: 1;
  min-width: none;
  max-width: 15rem;
  margin-right: 0.75rem;
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;
  /* padding-left: 0.5rem; */
}

.search__location-form__btn,
.favourites-form-btn {
  font-size: 1rem;
  font-family: inherit;
  border: none;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  margin-right: 0.75rem;
  cursor: pointer;
  height: 1.75rem;
}

.search__position-btn {
  padding: 0.25rem;
  border: none;
  border-radius: 0.25rem;
  margin: 0.5rem 0;
  cursor: pointer;
}

.search__position-btn__icon {
  width: 1.25rem;
  height: 1.25rem;
  vertical-align: middle;
}

.search__position-tooltip {
  margin-left: 0.75rem;
  color: white;
  font-size: 0.75rem;
}

.favourites {
  margin-bottom: 0.5rem;
}

.favourites-form {
  font-size: 1rem;
  font-family: inherit;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.favourites-form select {
  font-size: 1rem;
  font-family: inherit;
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;
  border: none;
  border-radius: 0.25rem;
  height: 1.75rem;
  margin-right: 0.75rem;
}

.favourites-form option {
  font-family: inherit;
  cursor: pointer;
}

.favourites-form-btn {
  margin-right: 0;
  margin: 0.5rem 0;
  font-family: inherit;
}

.content {
  margin: 0.5rem 0 1rem 0;
  min-height: 9.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.content__instructions {
  font-size: 0.75rem;
  align-self: flex-start;
}

.content__instructions-text {
  line-height: 1.75rem;
}
.content__position-icon {
  width: 1.75rem;
  height: 1.75rem;
  vertical-align: middle;
  border: 1px solid white;
  border-radius: 0.25rem;
  margin: 0 0.25rem;
  padding: 0.25rem;
}

.weather {
  height: 100%;
  width: 100%;
  text-align: center;
  color: white;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  /* overflow-y: scroll; */
  /* height: 20vh; */
}

.weather__now {
  flex-grow: 1;
}

.weather_next {
  min-width: 2rem;
}

.weather__next-text {
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}
.weather__next-btn,
.weather__back-btn {
  /* padding: 0.25rem; */
  border: 1px solid white;
  background-color: transparent;
  border-radius: 0.25rem;
  margin: 0.5rem 0;
  cursor: pointer;
}
.weather__next-icon,
.weather__back-icon {
  /*  width: 1.75rem;
  height: 1.75rem;
  border: 1px solid white;
  border-radius: 0.25rem;
  margin: 0 0.25rem;
  padding: 0.25rem; */

  width: 1.75rem;
  height: 1.75rem;
  vertical-align: middle;
}

.weather__location {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}

.weather__location-name {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0 0.25rem;
}
.weather__location-timestamp {
  font-size: 0.75rem;
  padding: 0 0.25rem;
}

.weather__description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather__description-text {
  font-size: 1rem;
  padding: 0 0.25rem;
  font-weight: 400;
  text-transform: uppercase;
}

.weather__description-icon {
  height: 2rem;
  width: auto;
  margin: 0.25rem;
}

.weather__property {
  font-size: 1rem;
  /*  display: flex;
  justify-content: center;
  align-items: center; */
  /* line-height: 1.25; */
}

.weather__property-value {
  font-weight: 700;
  font-size: 1rem;
  /* vertical-align: middle; */
}

.weather__temeprature {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.weather__wind {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.weather__wind-arrow {
  /* width: 1rem;
  height: 1rem; */
  margin-left: 0.25rem;
}

.weather__forecast {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow-x: auto;
  margin-left: 0.75rem;
}

.weather__forecast-item {
  width: 3rem;
  border: 1px solid white;
  flex-shrink: 0;
}

footer {
  color: white;
  text-align: center;
  font-size: 0.75rem;
  margin: 1rem 0 0.5rem 0;

  line-height: 1.5;
}

.footer__credits {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.footer__credits p {
  margin: 0 0.25rem;
}

footer a {
  color: white;
}

footer a:active {
  font-weight: 700;
}

footer a:visited {
  color: white;
}

/* .map__container {
  width: 100%;
  height: 100vh;
}
 */
