@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  /*  height: 100vh; */
  padding: 1.5rem;
  font-family: "Lato", sans-serif;
  /* background-color: #1d3461; */
  /* background-color: #1f487e; */
  /* background-color: #7293a0; */
  /* background-color: #0b7189; */
  /* background-color: #b5bec6; */
  /* background-color: #47a8bd; */
  /* background-color: #adacb5; */
  background-color: #219ebc;
  /* background-color: #00a5cf; */
}

#root {
  height: 100vh;
}
:root {
  /* --var-color-white: #f6f0ed; */
  /* --var-color-white: #f0eff4; */
  /* --var-color-white: #f3efe0; */
  /* --var-color-white: #e3e4db; */
  /* --var-color-white: #c6e0ff; */
  /* --var-color-white: #ccdbdc; */
  /* --var-color-white: #f5efed; */
  /* --var-color-white: #2f2f2f; */
  /* --var-color-white: #210b2c; */
  /* --var-color-white: #333333; */
  /* --var-color-white: #353531; */
  /* --var-color-white: #3c3744; */
  /* --var-color-white: #0b7189; */
  /* --var-color-white: #c7dbe6; */
  /* --var-color-white: #161b33; */
  --var-color-white: #023047;
  /* --var-color-white: #004e64; */
}

.app {
  display: flex;

  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.header__icon {
  width: 2.5rem;
  height: auto;
  margin-right: 1rem;
}

.header__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--var-color-white);
}

.search {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}
.search__location-form {
  flex-grow: 1;
  max-width: 19rem;
  display: flex;
  flex-wrap: wrap;
}

.search__location-form__input {
  height: 1.75rem;
  font-size: 1rem;
  font-family: inherit;
  border: none;
  border-radius: 0.25rem;
  background-color: #fafaf8;
  flex-grow: 1;
  min-width: none;
  max-width: 15rem;
  margin-right: 0.75rem;
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;
  /* padding-left: 0.5rem; */
}

.search__location-form__btn,
.favourites-form-btn {
  font-size: 1rem;
  font-family: inherit;
  border: 1px solid #d5dadc;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  margin-right: 0.75rem;
  cursor: pointer;
  height: 1.75rem;
  background-color: #d5dadc;
  color: var(--var-color-white);
}

.search__location-form__btn:hover,
.favourites-form-btn:hover {
  border: 1px solid var(--var-color-white);
}

.search__position-btn {
  padding: 0.25rem;
  border: 1px solid #d5dadc;
  border-radius: 0.25rem;
  margin: 0.5rem 0;
  cursor: pointer;
  background-color: #d5dadc;
}
.search__position-btn:hover {
  border: 1px solid var(--var-color-white);
}

.search__position-btn__icon {
  width: 1.25rem;
  height: 1.25rem;
  vertical-align: middle;
}

.search__position-tooltip {
  margin-left: 0.75rem;
  color: var(--var-color-white);
  font-size: 0.75rem;
}

.favourites {
  margin-bottom: 0.5rem;
}

.favourites-form {
  font-size: 1rem;
  font-family: inherit;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.favourites-form select {
  font-size: 1rem;
  font-family: inherit;
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;
  border: none;
  border-radius: 0.25rem;
  height: 1.75rem;
  margin-right: 0.75rem;
  color: var(--var-color-white);
}

.favourites-form option {
  font-family: inherit;
  cursor: pointer;
}

.favourites-form-btn {
  margin-right: 0;
  margin: 0.5rem 0;
  font-family: inherit;
}

.content {
  margin: 0.5rem 0 1rem 0;
  height: auto;
  min-height: 9.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content__text {
  text-align: center;
  font-size: 1rem;
}

.content__instructions {
  font-size: 0.75rem;
  align-self: flex-start;
}

.content__instructions-text {
  line-height: 1.75rem;
}
.content__position-icon {
  width: 1.75rem;
  height: 1.75rem;
  vertical-align: middle;
  border: 1px solid #fafaf8;
  border-radius: 0.25rem;
  margin: 0 0.25rem;
  padding: 0.25rem;
}

.weather {
  height: 100%;
  width: 100%;
  text-align: center;
  color: var(--var-color-white);
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  /* overflow-y: scroll; */
  /* height: 20vh; */
}

.weather__now {
  flex-grow: 1;
}

.weather__next {
  min-width: 2rem;
  text-align: right;
}

.weather__back {
  min-width: 2.75rem;
  text-align: left;
}

.weather__next-text,
.weather__back-text {
  font-size: 0.75rem;
  /* margin-bottom: 0.5rem; */
}
.weather__next-btn,
.weather__back-btn {
  /* padding: 0.25rem; */
  border: 1px solid var(--var-color-white);
  background-color: transparent;
  border-radius: 0.25rem;
  margin: 0.5rem 0;
  cursor: pointer;
}

.weather__next-btn:hover,
.weather__back-btn:hover {
  border: 1px solid #fafaf8;
  transition: all 0.3s ease-out;
}
.weather__next-icon,
.weather__back-icon {
  /*  width: 1.75rem;
  height: 1.75rem;
  border: 1px solid white;
  border-radius: 0.25rem;
  margin: 0 0.25rem;
  padding: 0.25rem; */

  width: 1.75rem;
  height: 1.75rem;
  vertical-align: middle;
}

.weather__location {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;

  color: var(--var-color-white);
}

.weather__location-name {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0 0.25rem;
}
.weather__location-timestamp {
  font-size: 0.75rem;
  padding: 0 0.25rem;
}

.weather__description {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--var-color-white);
}

.weather__description-text {
  font-size: 1rem;
  padding: 0 0.25rem;
  font-weight: 400;
  text-transform: uppercase;
}

.weather__description-icon {
  height: 2rem;
  width: auto;
  margin: 0.25rem;
}

.weather__property {
  font-size: 1rem;
  /*  display: flex;
  justify-content: center;
  align-items: center; */
  /* line-height: 1.25; */
}

.weather__property-value {
  font-weight: 700;
  font-size: 1rem;
  /* vertical-align: middle; */
  color: var(--var-color-white);
}

.weather__temeprature {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.weather__wind {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.weather__wind-arrow {
  /* width: 1rem;
  height: 1rem; */
  margin-left: 0.25rem;
}

.weather__forecast {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow-x: auto;
  margin-left: 0.75rem;
}

.weather__forecast-item {
  width: 6rem;
  border: 1px solid var(--var-color-white);
  flex-shrink: 0;
  padding: 0.25rem;
}

.weather__forecast-rain-icon {
  margin-right: 0.25rem;
}

footer {
  color: var(--var-color-white);
  text-align: center;
  font-size: 0.75rem;
  margin: 1rem 0 0.5rem 0;

  line-height: 1.5;
}

.footer__credits {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.footer__credits p {
  margin: 0 0.25rem;
  /* color: #fafaf8; */
}

footer a {
  color: #fafaf8;
}

footer a:active {
  font-weight: 700;
  color: #fafaf8;
}

footer a:visited {
  color: #fafaf8;
}

@media (min-width: 880px) {
  body {
    width: 52rem;
    padding: 2rem 0;
    margin: 0 auto;
  }
}
